<div class="col pb-5">
  <div class="row justify-content-center">
    <div class="col text-center py-5 home-header">
      <h1>Welcome to online Math Workbook</h1>
      <h4 class="py-3">-</h4>
      <h5>We are here to collect and share knowladge.</h5>
    </div>
  </div>

  <div class="col pt-5">
  
  <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1,toggle-2">
    <ngb-panel id="toggle-1" title="Primary School">
      <ng-template ngbPanelContent>
        <div class="col" *ngFor="let item of primary">
          
          <h2 class="text-danger">{{ item.category.class }}. Class</h2>
          <hr>
          <div class="col" *ngFor="let data of item.data">
            <div class="col pl-3 justify-content-space-between">
              <a class="text-primary" [href]="fileDownloadUrl + data.id"><h4>{{ data.title }}</h4></a>
              <p> Uploaded by {{ data.user.firstname }} {{ data.user.lastname }}, {{ (data.uploadDate | date : 'shortDate') }}</p>
            </div>
            <hr>
          </div>
          
        </div>
        
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-2" title="High School">
      <ng-template ngbPanelContent>
        <div class="col" *ngFor="let item of high">
          
          <h2 class="text-danger">{{ item.category.class }}. Class</h2>
          <hr>
          <div class="col" *ngFor="let data of item.data">
            <div class="col pl-3 justify-content-space-between">
              <a class="text-primary" [href]="fileDownloadUrl + data.id"><h4>{{ data.title }}</h4></a>
              <p> Uploaded by {{ data.user.firstname }} {{ data.user.lastname }}, {{ (data.uploadDate | date : 'shortDate') }}</p>
            </div>
            <hr>
          </div>
          
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  
  </div>
</div>
