<div class="col mt-3 pb-5">
  <p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsedUpload">
      Upload new file
    </button>
  </p>
  <div id="uploadFile" class="col col-md-6 pb-3">
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedUpload">
      <form (ngSubmit)="submitForm()" [formGroup]="fileForm">
        <div class="mb-3">
          <label for="formFileSm" class="form-label">Choose file</label>
          <input class="form-control form-control-sm" id="formFileSm" formControlName="uploadedFile" type="file" (change)="onFileSelect($event)">
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Math problems for 1. class - primary school">
        </div>
  
        <div class="mb-3">
          <label for="school" class="form-label">School</label>
          <select id="school" class="form-select" formControlName="school">
            <option value="Primary School">Primary School</option>
            <option value="Hihg School">Hihg School</option>
          </select>
        </div>
  
        <div class="mb-3">
          <label for="class" class="form-label">Class</label>
          <select *ngIf="isPrimary; else highSchool" id="class" class="form-select" formControlName="class">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
  
          <ng-template #highSchool>  
            <select id="class" class="form-select" formControlName="class">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </ng-template>
          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <hr class="pb-3 bg-primary">
  <div class="col">

    <h3 class="">My files</h3>
    <hr>
    <div class="col pt-2">
      <h4>Primary School</h4>
      <div class="col" *ngFor="let item of primary">
        <h5 class="text-primary">{{ item.category.class }}. Class</h5>
        
        <div class="col" *ngFor="let data of item.data">
          <div class="col pl-3 justify-content-space-between">
            <div class="col">
              <p>Title: <b>{{ data.title }}</b></p>
              <p>Filename: <b>{{ data.filename }}</b></p>
              <p>Uploaded: {{ (data.uploadDate | date : 'short') }}</p>
            </div>
            <div class="col">
              <button id="{{ data.id }}" type="button" class="btn btn-outline-danger" (click)="deleteFile($event)">
                Delete
              </button>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="py-3">
        <hr class="bg-primary py-2">
      </div>
      <h4>High School</h4>
      <div class="col" *ngFor="let item of high">
        <h5 class="text-primary">{{ item.category.class }}. Class</h5>
        
        <div class="col" *ngFor="let data of item.data">
          <div class="col pl-3 justify-content-space-between">
            <div class="col">
              <p>Title: <b>{{ data.title }}</b></p>
              <p>Filename: <b>{{ data.filename }}</b></p>
              <p>Uploaded: {{ (data.uploadDate | date : 'short') }}</p>
            </div>
            <div class="col">
              <button id="{{ data.id }}" type="button" class="btn btn-outline-danger" (click)="deleteFile($event)">
                Delete
              </button>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!-- <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1,toggle-2">
        <ngb-panel id="toggle-1" title="Primary School">
          <ng-template ngbPanelContent>
            
            
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="High School">
          <ng-template ngbPanelContent>
            <div class="col" *ngFor="let item of high">
              
              <h2 class="text-danger">{{ item.category.class }}. Class</h2>
              <hr>
              <div class="col" *ngFor="let data of item.data">
                <div class="col pl-3 justify-content-space-between">
                  <h4>{{ data.title }}</h4>
                  <p> Uploaded at {{ (data.uploadDate | date : 'shortDate') }}</p>
                </div>
                <hr>
              </div>
              
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion> -->
      
    </div>
  </div>
</div>


