<div class="row justify-content-center">
  <div class="col-sm-8 col-md-6 col-lg-3 justify-content-center">
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Register</h1>
      <div class="form-floating mb-3">
        <label for="floatingInput">Firstname</label>
        <input type="text" class="form-control" id="floatingInput-firstname" formControlName="firstname" placeholder="John">
      </div>
      <div class="form-floating mb-3">
        <label for="floatingInput">Lastname</label>
        <input type="email" class="form-control" id="floatingInput-lastname" formControlName="lastname" placeholder="Snow">
      </div>
      <div class="form-floating mb-3">
        <label for="floatingInput">Email</label>
        <input type="email" class="form-control" id="floatingInput-email" formControlName="email" placeholder="johnsnow@example.com">
      </div>
      <div class="form-floating mb-3">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
      </div>
      <div class="form-floating mb-3">
        <label for="floatingPassword">Confimr password</label>
        <input type="password" class="form-control" id="floatingPasswordConfirm" formControlName="confirmPassword" placeholder="Confirm password">
      </div>
    
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
    </form>
  </div>
</div>