
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-xl">
    <a class="navbar-brand" [routerLink]="['']"><b>{{ title }}</b></a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav split-nav-items">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']" (click)="isMenuCollapsed = true">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " [routerLink]="['about']" (click)="isMenuCollapsed = true">About</a>
        </li>
      </ul>
      <ul *ngIf="!(isAuthenticated$ | async);else authNav" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-primary" [routerLink]="['login']" (click)="isMenuCollapsed = true">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" [routerLink]="['register']" (click)="isMenuCollapsed = true">Register</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>


<ng-template #authNav>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-primary" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['dashboard']">
        <img class="avatar" src="assets/images/avatar-default.png" alt="User avatar" >
      </a>
    </li>
  </ul>
</ng-template>