<div class="row justify-content-center">
  <div class="col-sm-8 col-md-6 col-lg-3 justify-content-center">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      
      <div class="form-floating mb-3">
        <label for="floatingInput">Email</label>
        <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com">
      </div>
      <div class="form-floating">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
      </div>
    
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" formControlName="rememberMe" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
    </form>
  </div>
</div>
